{% load staticfiles %}
<!doctype html>
<html><head>
    <meta charset="utf-8">
    <title>{% block title %}Wikipedia Edit History {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <!-- Le styles -->
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/main.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/font-style.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/flexslider.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/nprogress.css" %}" rel="stylesheet">
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "assets/ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "assets/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "assets/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "assets/ico/apple-touch-icon-57-precomposed.png" %}">

  	<!-- Google Fonts call. Font Used Open Sans & Raleway -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id='wrap'>
      {% include 'edit_history/_header.html' %}
      <div id='content' class="container">
        <div class='flash'></div>
        {% block content %}{% endblock %}
      </div> <!-- /container -->
    </div>
    {% include 'edit_history/_footer.html' %} 


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static "assets/js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/lineandbars.js" %}"></script>
    
    <script type="text/javascript" src="{% static "assets/js/dash-charts.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/gauge.js" %}"></script>
	
	<!-- NOTY JAVASCRIPT -->
        <script type="text/javascript" src="{% static "assets/js/noty/jquery.noty.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/js/noty/layouts/top.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/js/noty/layouts/topLeft.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/js/noty/layouts/topRight.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/js/noty/layouts/topCenter.js" %}"></script>
	
	<!-- You can add more layouts if you want -->
        <script type="text/javascript" src="{% static "assets/js/noty/themes/default.js" %}"></script>
        <!-- <script type="text/javascript" src="{% static "assets/js/dash-noty.js" %}"></script> This is a Noty bubble when you init the theme-->
        <script type="text/javascript" src="http://code.highcharts.com/highcharts.js" %}"></script>
        <script src="{% static "assets/js/jquery.flexslider.js" %}" type="text/javascript"></script>

        <script type="text/javascript" src="{% static "assets/js/admin.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/js/nprogress.js" %}"></script>
    {% block javascript %}{% endblock %}
  
</body></html>
